package views

import "github.com/jmarren/toucan/internal/models"


templ Page(users []models.User) {
	<!DOCTYPE html>
	<html>
		<head> 
			<script src="/index.js">

			</script>
		</head>

		<body>
			<div>app</div>
			<div>users: 
			for _, user := range users {
				{ user.Username }
			}</div>

		</body>

	</html>
}
