package views

import "github.com/jmarren/toucan/internal/models"


templ Page(users []models.User) {
	<!DOCTYPE html>
	<html>
		<head> 
    			<link rel="stylesheet" href="/public/styles.css">
			<script src="/public/index.js"></script>
		</head>

		<body>
			<div>app</div>
			<button hx-get="/components/side-panel"></button>
			<div>users: 
			for _, user := range users {
				{ user.Username }
			}</div>

		</body>

	</html>
}
